In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib
import seaborn as sns

In [2]:
print(os.listdir("./"))

['item_cats.csv', '.ipynb_checkpoints', 'item_categories.csv', 'sample_submission.csv.gz', 'items.csv', 'Sales Prediction.ipynb', 'sales_train.csv.gz', 'shops.csv', 'submission.csv', 'test.csv.gz']

In [3]:
items = pd.read_csv('items.csv')
cats = pd.read_csv('item_categories.csv')
shops = pd.read_csv("shops.csv")
transactions = pd.read_csv("sales_train.csv.gz")
test = pd.read_csv("test.csv.gz")

In [4]:
un = transactions.nunique(dropna = False)
un.sort_values()[:10]

date_block_num       34
shop_id              60
item_cnt_day        198
date               1034
item_price        19993
item_id           21807
dtype: int64

In [5]:
transactions['day'] = pd.DatetimeIndex(transactions['date'], dayfirst = True).day
transactions['month'] = pd.DatetimeIndex(transactions['date'], dayfirst = True).month
transactions['year'] = pd.DatetimeIndex(transactions['date'], dayfirst = True).year
transactions = transactions.merge(items.drop(['item_name'], axis = 1), on = 'item_id')
transactions.head

<bound method NDFrame.head of                date  date_block_num  shop_id  item_id  item_price  \
0        02.01.2013               0       59    22154       999.0
1        23.01.2013               0       24    22154       999.0
2        20.01.2013               0       27    22154       999.0
3        02.01.2013               0       25    22154       999.0
4        03.01.2013               0       25    22154       999.0
...             ...             ...      ...      ...         ...
2935844  17.10.2015              33       25     8428       249.0
2935845  01.10.2015              33       25     7903     12198.0
2935846  29.10.2015              33       25     7610      2890.0
2935847  22.10.2015              33       25     7635      2100.0
2935848  01.10.2015              33       25     7640      4040.0

         item_cnt_day  day  month  year  item_category_id
0                 1.0    2      1  2013                37
1                 1.0   23      1  2013                37
2                 1.0   20      1  2013                37
3                 1.0    2      1  2013                37
4                 1.0    3      1  2013                37
...               ...  ...    ...   ...               ...
2935844           1.0   17     10  2015                40
2935845           1.0    1     10  2015                15
2935846           1.0   29     10  2015                64
2935847           1.0   22     10  2015                64
2935848           1.0    1     10  2015                64

[2935849 rows x 10 columns]>

In [6]:
transactions.isnull().sum(axis=0).head(15)

date                0
date_block_num      0
shop_id             0
item_id             0
item_price          0
item_cnt_day        0
day                 0
month               0
year                0
item_category_id    0
dtype: int64

In [7]:
transactions['item_price_100'] = transactions['item_price']%100
transactions.head

<bound method NDFrame.head of                date  date_block_num  shop_id  item_id  item_price  \
0        02.01.2013               0       59    22154       999.0
1        23.01.2013               0       24    22154       999.0
2        20.01.2013               0       27    22154       999.0
3        02.01.2013               0       25    22154       999.0
4        03.01.2013               0       25    22154       999.0
...             ...             ...      ...      ...         ...
2935844  17.10.2015              33       25     8428       249.0
2935845  01.10.2015              33       25     7903     12198.0
2935846  29.10.2015              33       25     7610      2890.0
2935847  22.10.2015              33       25     7635      2100.0
2935848  01.10.2015              33       25     7640      4040.0

         item_cnt_day  day  month  year  item_category_id  item_price_100
0                 1.0    2      1  2013                37            99.0
1                 1.0   23      1  2013                37            99.0
2                 1.0   20      1  2013                37            99.0
3                 1.0    2      1  2013                37            99.0
4                 1.0    3      1  2013                37            99.0
...               ...  ...    ...   ...               ...             ...
2935844           1.0   17     10  2015                40            49.0
2935845           1.0    1     10  2015                15            98.0
2935846           1.0   29     10  2015                64            90.0
2935847           1.0   22     10  2015                64             0.0
2935848           1.0    1     10  2015                64            40.0

[2935849 rows x 11 columns]>

In [8]:
# corr = transactions.corr()
# g = sns.heatmap(corr,  vmax=.3, center=0,
#             square=True, linewidths=.5, cbar_kws={"shrink": .5}, annot=True, fmt='.2f', cmap='coolwarm')
# sns.despine()
# g.figure.set_size_inches(14,10)

In [9]:

# ax = sns.pairplot(transactions)

In [10]:
transactions[transactions['date_block_num'] == 33].shape

(53514, 11)

In [11]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [12]:
test.duplicated().sum()

0

In [13]:
monthly_trans = transactions[['date_block_num', 'shop_id', 'item_id', 'item_cnt_day']]

monthly_trans.head()

   date_block_num  shop_id  item_id  item_cnt_day
0               0       59    22154           1.0
1               0       24    22154           1.0
2               0       27    22154           1.0
3               0       25    22154           1.0
4               0       25    22154           1.0

In [14]:
#creating last month sales as submission
submission = test.copy()
monthly_trans = monthly_trans[monthly_trans['date_block_num'] == 33]
test_A = pd.merge(test, monthly_trans, left_on=['shop_id', 'item_id'], right_on=['shop_id', 'item_id'], how="left")
test_A = test_A.groupby(['ID']).sum()
test_A.drop(['shop_id', 'item_id', 'date_block_num'], axis = 1, inplace = True)
test_A = test_A.clip(0,20)
test_A.columns = ['item_cnt_month']
test_A.index.name = 'ID'
test_A.to_csv('submission.csv')
test_A.shape

(214200, 1)

In [15]:
monthly_cnt = transactions.groupby(['date_block_num', 'shop_id', 'item_id'], as_index = False)['item_cnt_day'].sum()
monthly_cnt.columns = ['date_block_num', 'shop_id', 'item_id', 'item_cnt_month']
# monthly_cnt.head
transactions = transactions.merge(monthly_cnt, on = ['date_block_num', 'shop_id', 'item_id'], how= 'left')
transactions.head

<bound method NDFrame.head of                date  date_block_num  shop_id  item_id  item_price  \
0        02.01.2013               0       59    22154       999.0
1        23.01.2013               0       24    22154       999.0
2        20.01.2013               0       27    22154       999.0
3        02.01.2013               0       25    22154       999.0
4        03.01.2013               0       25    22154       999.0
...             ...             ...      ...      ...         ...
2935844  17.10.2015              33       25     8428       249.0
2935845  01.10.2015              33       25     7903     12198.0
2935846  29.10.2015              33       25     7610      2890.0
2935847  22.10.2015              33       25     7635      2100.0
2935848  01.10.2015              33       25     7640      4040.0

         item_cnt_day  day  month  year  item_category_id  item_price_100  \
0                 1.0    2      1  2013                37            99.0
1                 1.0   23      1  2013                37            99.0
2                 1.0   20      1  2013                37            99.0
3                 1.0    2      1  2013                37            99.0
4                 1.0    3      1  2013                37            99.0
...               ...  ...    ...   ...               ...             ...
2935844           1.0   17     10  2015                40            49.0
2935845           1.0    1     10  2015                15            98.0
2935846           1.0   29     10  2015                64            90.0
2935847           1.0   22     10  2015                64             0.0
2935848           1.0    1     10  2015                64            40.0

         item_cnt_month
0                   1.0
1                   1.0
2                   1.0
3                   5.0
4                   5.0
...                 ...
2935844             1.0
2935845             1.0
2935846             1.0
2935847             1.0
2935848             1.0

[2935849 rows x 12 columns]>

In [16]:
monthly_cnt.head

<bound method NDFrame.head of          date_block_num  shop_id  item_id  item_cnt_month
0                     0        0       32             6.0
1                     0        0       33             3.0
2                     0        0       35             1.0
3                     0        0       43             1.0
4                     0        0       51             2.0
...                 ...      ...      ...             ...
1609119              33       59    22087             6.0
1609120              33       59    22088             2.0
1609121              33       59    22091             1.0
1609122              33       59    22100             1.0
1609123              33       59    22102             1.0

[1609124 rows x 4 columns]>

In [17]:
transactions.groupby(['date_block_num', 'shop_id', 'item_id'])['item_cnt_day'].sum()

date_block_num  shop_id  item_id
0               0        32         6.0
                         33         3.0
                         35         1.0
                         43         1.0
                         51         2.0
                                   ...
33              59       22087      6.0
                         22088      2.0
                         22091      1.0
                         22100      1.0
                         22102      1.0
Name: item_cnt_day, Length: 1609124, dtype: float64

In [18]:
#feature check
transactions.groupby(['date_block_num', 'shop_id', 'item_id'])['item_cnt_day'].sum().describe()

count    1.609124e+06
mean     2.267200e+00
std      8.649882e+00
min     -2.200000e+01
25%      1.000000e+00
50%      1.000000e+00
75%      2.000000e+00
max      2.253000e+03
Name: item_cnt_day, dtype: float64

In [19]:
transactions['item_cnt_month'].describe()

count    2.935849e+06
mean     7.400887e+00
std      3.033513e+01
min     -2.200000e+01
25%      1.000000e+00
50%      2.000000e+00
75%      5.000000e+00
max      2.253000e+03
Name: item_cnt_month, dtype: float64

In [20]:
transactions[['date_block_num', 'shop_id', 'item_id', 'item_cnt_month']].duplicated().sum()

1326725

In [21]:
#Adding counts to see if the missing rows are duplicates and the feature is correct
1609124 + 1326725

2935849

In [22]:
#creating lag feature of sales prev month.
trans = transactions[['date_block_num', 'shop_id', 'item_id', 'item_cnt_month']]
trans['lag'] = trans.groupby(['shop_id', 'item_id'], as_index = False)['item_cnt_month'].shift()
# trans['date_block_num'] = transactions['date_block_num'] - 1
# transactions[transactions['date_block_num'] == trans['date_block_num']]
# transactions['lag_item_cnt_day'] = transactions[transactions['day'] == trans['day'] & transactions['date_block_num'] == (trans['date_block_num'] - 1)]
# transactions['lag_item_cnt_day'] = transactions[transactions['date_block_num'] == transactions['date_block_num'] - 1]['item_cnt_day']
# transactions['lag_item_cnt_day'].sum()
# trans = trans.set_index('date_block_num')
# trans = trans['item_cnt_month'].shift(1)
# print(trans['item_cnt_day'].shape, transactions['item_cnt_day'].shape)
# trans = trans.reset_index()
# trans.columns = ['date_block_num', 'lag_item_cnt_month']
trans.head
# gg = transactions.merge(trans, on='date_block_num', how = 'left')

/home/hash1m/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

<bound method NDFrame.head of          date_block_num  shop_id  item_id  item_cnt_month  lag
0                     0       59    22154             1.0  NaN
1                     0       24    22154             1.0  NaN
2                     0       27    22154             1.0  NaN
3                     0       25    22154             5.0  NaN
4                     0       25    22154             5.0  5.0
...                 ...      ...      ...             ...  ...
2935844              33       25     8428             1.0  NaN
2935845              33       25     7903             1.0  NaN
2935846              33       25     7610             1.0  NaN
2935847              33       25     7635             1.0  NaN
2935848              33       25     7640             1.0  NaN

[2935849 rows x 5 columns]>

In [23]:
trans.isnull().sum()

date_block_num         0
shop_id                0
item_id                0
item_cnt_month         0
lag               424124
dtype: int64

In [34]:
#lets check if our lag features are correct
trans[(trans['shop_id'] == 25) & (trans['item_id'] == 22154)]

## Note: Get rid of daily data and convert it to monthly data which we will need at the end.
## Also lag feature doesnt work

    date_block_num  shop_id  item_id  item_cnt_month  lag
3                0       25    22154             5.0  NaN
4                0       25    22154             5.0  5.0
5                0       25    22154             5.0  5.0
6                0       25    22154             5.0  5.0
7                0       25    22154             5.0  5.0
49              31       25    22154             1.0  5.0
53              32       25    22154             1.0  1.0